[buildout]
develop = .
parts = sftpcopy test
allow-picked-versions = true
show-picked-versions = true
versions = versions

[sftpcopy]
recipe = zc.recipe.egg:scripts
eggs = gocept.sftpcopy

[test]
recipe = zc.recipe.egg
scripts = py.test=test
eggs = gocept.sftpcopy[test,amqp,test_amqp]
    pytest
    pytest-sugar
    pytest-cov
    pytest-flake8
    gocept.pytestlayer

[versions]
# Pytest dropped Python 2 support starting from 5.0.
pytest = < 5.0
